services:
  nextcloud:
    build: 
      context: ./
      args:
        - NEXTCLOUD_RELEASE=${NEXTCLOUD_RELEASE}
    environment:
      - SERVICE_URL_NEXTCLOUD_80
      - PUID=1000
      - PGID=1000
      - 'TZ=${TZ:-Europe/Berlin}'
    volumes:
      - '/hostdata/nextcloud_config:/config'
      - '/hostdata/nextcloud:/data'
    labels:
      - traefik.http.middlewares.nextcloudstsSeconds.headers.stsSeconds=31536000
      - traefik.http.middlewares.nextcloudstsIncludeSubdomains.headers.stsIncludeSubdomains=true
      - traefik.http.middlewares.nextcloudstsPreload.headers.stsPreload=true
      - traefik.http.middlewares.nextcloud-headers.headers.customrequestheaders.X-Forwarded-Proto=https
      - traefik.http.middlewares.nextcloud-headers.headers.customrequestheaders.X-Forwarded-For=true
    healthcheck:
      test:
        - CMD
        - curl
        - '-f'
        - 'http://127.0.0.1:80'
      interval: 2s
      timeout: 10s
      retries: 15
